label.cb {
    cursor: pointer;
}

input.cb::before {
    content: '[ ]';
}

input.cb:checked::before {
    content: '[x]';
}

input.cb {
    cursor:pointer;
    font-family: monospace;
    color: inherit;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input.cb:disabled {
    color: #999!important;
}

label.cb.disabled {
    color: #999!important;
}

input.cb + label.cb:hover {
  color: #fff;
}

input.cb:hover {
    color: #fff;
}

input.cb.mono:disabled {
    color: #444!important;
}

label.cb.mono.disabled {
    color: #444!important;
}

input.cb.dialog:disabled {
    color: #999;
}

label.cb.dialog.disabled {
    color: #999;
}


input.cb.green + label.cb:hover {
  color: #ff0;
}

input.cb.green:hover {
    color: #ff0;
}

input.cb.dialog + label.cb:hover {
  color: #ff0;
}

input.cb.dialog:hover {
    color: #ff0;
}

label.cb.dialog {
    color: #fff;
}

input.cb.dialog {
    color: #fff;
}