/* COMMON */

button {
  cursor: pointer;
}

button:disabled {
  color: #bbb !important;
  cursor: not-allowed;
  pointer-events: none;
}

button.text::before {
  content: "[ ";
}

button.text::after {
  content: " ]";
}

button.fill {
  width: 100%;
  height: 100%;
}

/* BUTTONS - STD */

button.btn {
  font-weight: bold;
  color: #333;
  background-color: #090;
  font-family: monospace;
  padding: 0.2em 1em;
  margin: 0 0.5em 0.5em 0;
  border-style: none;
  box-shadow: 0.5em 0.65em 3px rgba(0, 0, 0, 0.5);
}

button.default.btn {
  color: #0ff;
}

button.btn:focus {
  color: #fff;
}

button.btn:hover:not(:disabled) {
  color: #fff;
  transform: translate3d(0.05em, 0.05em, 0.9em);
  box-shadow: 0.4em 0.4em 3px rgba(0, 0, 0, 0.5);
}

button.btn:active:not(:disabled) {
  transform: translate3d(0.25em, 0.25em, 10em);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  background: limegreen;
}

button.btn:focus {
  outline: red;
}

/* BUTTONS - PLAIN */
button.plain {
  font-weight: bolder;
  margin: 0;
  display: inline-block;
  padding: 4px 10px;
  font-family: monospace;
  font-size: 0.9em;
  text-align: center;
  text-decoration: none;
  transition:
    background-color 0.2s,
    color 0.2s,
    box-shadow 0.2s;

  color: #000;
  background-color: #777;
  border: 0px solid #666;
  box-shadow: 0 0 4px #666;
}

button.plain:hover {
  background-color: #bbb;
  color: #000;
  box-shadow: 0 0 6px #ddd;
}

button.plain:active {
  transform: translate(1px, 1px) scale(0.98); /* Move and shrink */
}

/* BUTTONS - LINK */
button.link {
  background-color: inherit;
  color: #0f0;
  font-family: monospace;
  border: none;
  margin: 0;
  padding: 0;
}

button.link:hover {
  color: #ff0;
}

button.link:active {
  color: #ff0;
  transform: scale(0.95);
}

.plain.default {
  color: #fff;
}

/* PALETTE SPECIFIC */
/* GREEN */
.plain.green {
  color: #00ff00;
  background-color: #003300;
  border: 1px solid #00ff00;
  box-shadow: 0 0 4px #00ff00;
}

.plain.green:hover {
  background-color: #005500;
  color: #00ff88;
  box-shadow: 0 0 6px #00ff88;
}

.plain.green.default {
  color: #ff0;
}

/* BLUE */
.plain.blue {
  color: #000;
  background-color: #099;
  border: 1px solid #099;
  /*box-shadow: 0 0 4px #00ffff;*/
}

.plain.blue:hover {
  background-color: #099;
  color: #0ff;
  box-shadow: 0 0 6px #00ff88;
}

.plain.blue.default {
  color: #aff;
}

.link.blue:hover:not(:disabled) {
  background-color: #090;
  color: #ff0;
}

/* CYAN */

.plain.cyan {
  color: #000;
  background-color: #099;
  border: 1px solid #099;
}

.plain.cyan:hover {
  background-color: #005555;
  color: #00ffaa;
  box-shadow: 0 0 6px #00ff88;
}

.plain.cyan.default {
  color: #0ff;
}

.link.cyan {
  color: #fff;
}

.link.cyan:hover:not(:disabled) {
  background-color: #000;
  color: #ff7;
}

/* DARK */
.plain.dark {
  color: #ff0;
}

.plain.dark.default {
  color: #fff;
}

.link.dark {
  color: #bb0;
}

.link.dark:hover:not(:disabled) {
  background-color: #bb0;
  color: #000;
}

/* GREY */
button.btn.grey {
  background-color: #ddd;
}

button.btn.grey:active:not(:disabled) {
  background-color: #ddd;
}

.link.grey {
  color: #222;
}

.link.grey:hover:not(:disabled) {
  background-color: #090;
  color: #000;
}

.link.dialog {
  color: #ff0;
}

.link.dialog:hover:not(:disabled) {
  background-color: #090;
  color: #fff;
}

/* RED */
button.btn.red {
  background-color: #f00;
  color: #ff0;
}
button.btn.red:active:not(:disabled) {
  background: #f00;
}

.link.red {
  color: #fff;
}

.link.red:hover:not(:disabled) {
  background-color: #f00;
  color: #ff0;
}

.plain.red {
  color: #ff0;
  background-color: #900;
  border: 1px solid #900;
  box-shadow: 0 0 4px #f00;
}

.plain.red:hover {
  background-color: #500;
  color: #ff0;
  box-shadow: 0 0 6px #f00;
}

.plain.default.red {
  color: #fff;
}

/* MONO */
button.btn.mono {
  background-color: #ddd;
}

button.btn.mono:active:not(:disabled) {
  background-color: #ddd;
}

.link.mono {
  color: #999;
}

.link.mono:hover:not(:disabled) {
  background-color: #999;
  color: #000;
}

/* DARK */
button.btn.dark {
  background-color: #aa0;
  color: #000;
}

button.btn.dark:active:not(:disabled) {
  background-color: #bb0;
}
