h1.heading {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  font-size: 1em;
  width: 100%;
  border-style: solid;
  border-width: 0 0 2px 0px;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  font-weight: normal;
}

h1.blue.heading {
  color: #0ff;
}
