div.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

div.menu ul li {
  padding: 0.5em;
  transition:
    background-color 0.75s ease,
    color 0.3s ease;
}

div.menu ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  outline: none;
}

div.menu ul li:hover {
  background-color: #090;
}

div.menu ul li.selected {
  background-color: #090;
}

div.menu ul li.disabled {
  color: #999 !important;
  pointer-events: none;
}

li.separator {
  border-style: solid;
  border-width: 0 0 2px 0;
}

li a span.secondary {
  float: right;
}

li a span.prefix {
  width: 1em;
  display: inline-block;
}

/* PALETTE */

div.menu.cyan ul li:hover {
  background-color: #000;
  color: #ff0;
}

div.menu.cyan ul li.selected {
  background-color: #000;
  color: #ff0;
}

div.menu.grey ul li.disabled {
  color: #333 !important;
  pointer-events: none;
}

div.menu.mono ul li.disabled {
  color: #444;
  pointer-events: none;
}

div.menu.dark ul li:hover {
  background-color: #cc0;
  color: #000;
}

div.menu.dark ul li.selected {
  background-color: #cc0;
  color: #000;
}

div.menu.green ul li:hover {
  background-color: #0d0;
  color: #000;
}

div.menu.green ul li.selected {
  background-color: #0d0;
  color: #000;
}

div.menu.mono ul li:hover {
  background-color: #999;
  color: #000;
}

div.menu.mono ul li.selected {
  background-color: #999;
  color: #000;
}

div.menu.red ul li:hover {
  background-color: #dd0;
  color: #000;
}

div.menu.red ul li.selected {
  background-color: #ff0;
  color: #600;
}

div.menu.blue ul li.separator {
  border-color: #fff;
}

div.menu.dark ul li.separator {
  border-color: #ff0;
}

div.menu.green ul li.separator {
  border-color: #0f0;
}

div.menu.cyan ul li.separator {
  border-color: #fff;
}

div.menu.red ul li.separator {
  color: #dd0;
}
