html {
  overscroll-behavior-x: none;
}

div.glass {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

div.glass.backdrop {
  background-color: #000;
  opacity: 0.4;
  z-index: 1;
}
