div.rbWrapper:focus-within > label {
  color: #fff;
}
div.rbWrapper:focus-within > input {
  color: #fff;
}

label.rb {
  cursor: pointer;
}

input.rb::before {
  content: '( )';
}

input.rb:checked::before {
  content: '(•)';
}

input.rb {
  cursor: pointer;
  font-family: monospace;
  color: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input.rb:disabled {
  color: #999 !important;
}

label.rb.disabled {
  color: #999 !important;
}

input.rb + label.rb:hover {
  color: #fff;
}

input.rb:hover {
  color: #fff;
}

input.rb.mono:disabled {
  color: #444 !important;
}

label.rb.mono.disabled {
  color: #444 !important;
}

input.rb.dialog:disabled {
  color: #999;
}

label.rb.dialog.disabled {
  color: #999;
}

div.rbWrapper > label.rb.green:hover {
  color: #ff0;
}

div.rbWrapper.green > input:hover {
  color: #ff0;
}

input.rb.green:hover {
  color: #ff0;
}

input.rb.dialog + label.rb:hover {
  color: #ff0;
}

input.rb.dialog:hover {
  color: #ff0;
}

label.rb.dialog {
  color: #000;
}

input.rb.dialog {
  color: #000;
}

div.rbWrapper.green:focus-within > label {
  color: #ff0;
}
div.rbWrapper.green:focus-within > input {
  color: #ff0;
}
